version: "2"

services:
  {{ rabbitmq.containername }}:
    image: 'rabbitmq:3-management'
    ports:
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: {{ rabbitmq.user }}
      RABBITMQ_DEFAULT_PASS: {{ rabbitmq.pass }}
      RABBITMQ_DEFAULT_VHOST: {{ rabbitmq.vhost }}
    volumes:
      - /var/lib/rabbitmq
      - /etc/rabbitmq
      - /tmp
    read_only: true
  {{ redis.containername }}:
    image: 'redis:3-alpine'
    read_only: true
  {{ sensu_server.containername }}:
    image: sensu_server
    depends_on:
      - {{ redis.containername }}
      - {{ rabbitmq.containername }}
    build: {{ sensu_server.buildroot }}
