version: "2"

services:
  {{ rabbitmq.containername }}:
    image: 'rabbitmq:3-management'
    ports:
      - '15672:15672'
      - '5672:5672'
    environment:
      RABBITMQ_DEFAULT_USER: {{ rabbitmq.user }}
      RABBITMQ_DEFAULT_PASS: {{ rabbitmq.pass }}
      RABBITMQ_DEFAULT_VHOST: {{ rabbitmq.vhost }}
    volumes:
      - /var/lib/rabbitmq
      - /etc/rabbitmq
      - /tmp
    read_only: true
  {{ redis.containername }}:
    image: 'redis:3-alpine'
    read_only: true
  sensu_base:
    image: {{ sensu_base.imagename }}
    build: {{ sensu_base.buildroot }}
  {{ sensu_server.containername }}:
    image: {{ sensu_server.imagename }}
    depends_on:
      - {{ redis.containername }}
      - {{ rabbitmq.containername }}
    build: {{ sensu_server.buildroot }}
    volumes:
      - /tmp:/tmp
    read_only: true
  {{ sensu_api.containername }}:
    image: {{ sensu_api.imagename }}
    build: {{ sensu_api.buildroot }}
    depends_on:
      - {{ sensu_server.containername }}
      - {{ redis.containername }}
      - {{ rabbitmq.containername }}
    volumes:
      - /tmp:/tmp
    read_only: true
    volumes_from:
      - {{ sensu_server.containername }}
  {{ uchiwa.containername }}:
    image: {{ uchiwa.imagename }}
    build: {{ uchiwa.buildroot }}
    depends_on:
      - {{ sensu_api.containername }}
    ports:
      - '80:80'
    environment:
      SENSU_NAME: my_sensu
      SENSU_API_HOST: {{ sensu_api.containername }}
      HTTP_USER: sensu
      HTTP_PASS: sensu
    volumes:
      - /tmp:/tmp
    read_only: true
